.navbar{
      position: sticky;
      top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    z-index: 10;
}
.logo{
 
    display: flex;
}
.logo img{
    height:40px;
    margin-top: 5px;
   
}
.logo span{
    color: rgb(3, 3, 3);
    margin-top: 12px;
    font-size:24px;
    font-weight: 800;
   
}

.nav-items{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.nav-items a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 600;
   
    }

    .fa-solid{
        margin-right: 10px;
    }

    .basic-menu{
        height: 1700px;
        width: 100%;
        background-color: rgb(246, 243, 243);
        margin-top: 0px;
        z-index: 5;
    }
    .basic-menu h2{
        margin-left: 200px;
        padding-top: 5px;
    }

    .top-menu{
        
        width: 80%;
        margin-left: 200px;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }
    .basic-menu-items{
        height: 200px;
        width: 200px;
    }
    .basic-menu-items img{
        height: 150px;
        width: 150px;
        object-fit:cover;
        border-radius: 50%;
        mix-blend-mode: darken;
    }

    .top-restaurant{
        width: 80%;
        margin-left: 200px;
     
        height: 300px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

    }
    .restaurants{
        width: 23%;
        height: 250px;
     
    }
    .restaurants img{
       height: 170px;
       width: 276px;
       object-fit: cover;
       border-radius: 10px;
       margin-bottom: 10px;
       
    }

    .restaurants span{
        font-size: 17px;
         margin-left: 10px;
         font-weight: 800;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         color: rgb(65, 65, 65);
    }
    .star{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: rgb(0, 185, 34);
        margin-left: 10px;
        margin-top: 5px;
    }
    .star i{
        
        color: rgb(255, 255, 255);
        padding: 1px;
    }
    .restaurants p{
        font-size: 17px;
        font-weight: 700;
        position: relative;
        margin-top: -19px;
        margin-left: 40px;
        color: rgb(93, 92, 92);
    }

     .restaurant-type{
        color: rgb(187, 0, 0);
        font-size: 14px;
        font-weight: 100;
    }

    .online-categories{
        display: flex;
        justify-content: space-between;
        margin-left: 190px;
        width: 60%;
        align-items: center;
        
    }
    .category{
        height: 30px;
        width: 80px;
        border: 2px solid rgb(220, 220, 220);
        border-radius: 50px;
        background-color: white;
       
    }

    .category span{
        font-size: 15px;
        padding: 15px;
        position: absolute;
        margin-top: -8px;
        color: rgb(55, 55, 55);
        
    }